.al-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.al-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.al-form-group label {
  flex: 1;
  min-width: 150px; /* pour s'assurer que les labels ont assez d'espace */
}

.al-form-group input[type="color"],
.al-form-group input[type="number"],
.al-form-group input[type="checkbox"],
.al-form-group select,
.al-form-group .al-range-group {
  flex: 2;
}

.al-range-group {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 2;
}

.al-range-group input[type="range"] {
  flex: 1;
}

.al-input-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.al-input-group span {
  flex: 1;
  text-align: center;
}

.al-input-group input[type="number"] {
  width: 50px;
  text-align: center;
}

